<strong>{{this.model.name}}</strong>

<br>
<br>

<strong>Name:</strong>
<OneWayInput @value={{this.name}} @update={{fn (mut this.name)}} @onenter={{this.createTask}} />
<a {{on "click" (fn this.createTask this.name)}} href="#" role="button">Create task</a>

<br>
<br>

<div class="tasks layout">
  <div class="tasks__list layout__item u-1/4">
    <strong>Tasks:</strong><br>

    {{#each this.model.tasks as |task|}}
      <LinkTo @route="tasks.task" @model={{task}}>{{task.name}}</LinkTo> -
      <a {{on "click" (fn this.deleteTask task)}} href="#" role="button">Delete</a>
      <br>
    {{/each}}
  </div>
  <div class="tasks__task layout__item u-3/4">
    {{outlet}}
  </div>
</div>

