<strong>{{this.model.name}}</strong>

<br>
<br>

<strong>Name:</strong>
<input value={{this.name}} oninput={{action (mut this.name) value="target.value"}} />
<a {{on "click" (fn this.createTask this.name)}} role="button">Create task</a>

<br>
<br>

<div class="o-layout">
  <div class="o-layout__item u-1/4">
    <strong>Tasks:</strong><br>

    {{#each this.model.tasks as |task|}}
      <LinkTo @route="tasks.task" @model={{task}}>{{task.name}}</LinkTo> -
      <a {{on "click" (fn this.deleteTask task)}} role="button">Delete</a>
      <br>
    {{/each}}
  </div>
  <div class="o-layout__item u-3/4">
    {{outlet}}
  </div>
</div>
