<strong>{{this.model.name}}</strong>

<br>
<br>

<label>
  <strong>Name:</strong>
  <input value={{this.name}} {{on "input" this.setName}} />
</label>
<button type="button" {{on "click" (fn this.createTask this.name)}}>Create task</button>

<br>
<br>

<div class="o-layout">
  <div class="o-layout__item u-1/4">
    <strong>Tasks:</strong><br>

    {{#each this.model.tasks as |task|}}
      <LinkTo @route="tasks.task" @model={{task}}>{{task.name}}</LinkTo> -
      <button type="button" {{on "click" (fn this.deleteTask task)}}>Delete</button>
      <br>
    {{/each}}
  </div>
  <div class="o-layout__item u-3/4">
    {{outlet}}
  </div>
</div>
