<br>
{{this.model.id}}<br>
{{this.model.name}}<br>
{{this.model.comments.length}}<br>

<button type="button" {{on "click" this.countUp}}>Post Visits: {{this.postStats.counter}}</button>

<button type="button" {{on "click" this.resetCounter}}>X</button>

<br>
{{#each this.model.comments as |comment|}}
  {{comment.name}} -
  <a {{on "click" (fn this.deleteComment comment)}} href="#" role="button">Delete</a>
  <br>
{{/each}}
<br>
<a {{on "click" (fn this.createComment this.model)}} href="#" role="button">Create comment</a>