<br>
{{model.id}}<br>
{{model.name}}<br>
{{model.comments.length}}<br>

<button {{action "countUp"}}>Post Visits: {{postStats.counter}}</button>

<button {{action "resetCounter"}}>X</button>

<br>
{{#each model.comments as |comment|}}
  {{comment.name}} -
  <a {{action 'deleteComment' comment}}>Delete</a>
  <br>
{{/each}}
<br>
<a {{action 'createComment' model}}>Create comment</a>