<br>
{{model.id}}<br>
{{model.name}}<br>
{{model.comments.length}}<br>

<button type="button" {{action "countUp"}}>Post Visits: {{postStats.counter}}</button>

<button type="button" {{action "resetCounter"}}>X</button>

<br>
{{#each model.comments as |comment|}}
  {{comment.name}} -
  <a {{action "deleteComment" comment}} role="button">Delete</a>
  <br>
{{/each}}
<br>
<a {{action "createComment" model}} role="button">Create comment</a>