Open the developer tools and go to <code>Resources</code> -> <code>Local Storage</code> or reload to see the effect.<br><br>

<FileInput @importData="importData" />
<a {{on "click" this.exportData}} href="#" role="button">Export</a>

<br>
<br>

<strong>Name:</strong>
<input value={{this.name}} oninput={{action (mut this.name) value="target.value"}} {{on "enter" this.createProject}}>
<a {{on "click" (fn this.createProject this.name)}} href="#" role="button">Create project</a>

<br>
<br>

<div class="projects layout">
  <div class="projects__list layout__item u-1/4">
    <strong>Projects:</strong><br>

    {{#each this.model as |project|}}
      <LinkTo @route="projects.project" @model={{project}}>{{project.name}}</LinkTo> -
      <a {{on "click" (fn this.deleteProject project)}} href="#" role="button">Delete</a>
      <br>
    {{/each}}
  </div>
  <div class="projects__project layout__item u-3/4">
    {{outlet}}
  </div>
</div>
